# MongoDB Configuration
MONGODB_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/
MONGODB_DB=your_database_name

# Reddit Configuration
REDDIT_CLIENT_ID=your_reddit_client_id
REDDIT_CLIENT_SECRET=your_reddit_client_secret
REDDIT_USER_AGENT=YourAppName by u/your_reddit_username

# ImageKit Configuration. You can get these from https://imagekit.io/dashboard/developer/api-keys. This is not essential, as you can use your local development environment to host images for development purposes.
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id/

# AI for rice or not classification while automatically pulling from reddit (NOT IMPLEMENTED YET)
GEMINI_API_KEY=your_gemini_api_key

# Admin Password for login
ADMIN_PASSWORD=your_secure_admin_password